<div class="row mb-sm-4">
    <div class="col-md-3">
        <label for="validationDefault04" class="form-label">Servicio</label>
        <select class="form-select" (change)="changeTipoServicio($any($event.target).value)">
            <option value="0">Seleccionar</option>
            <option *ngFor="let servicio of dataServicios()" [value]="servicio.servicio_id">{{servicio.servicio_descri}}
            </option>
        </select>
        <!-- <select class="form-select" (change)="changeTipoPersona($any($event.target).value)">
            <option value="N">Persona Natural</option>
            <option value="J">Persona Jurídica</option>
        </select> -->
    </div>
    <!-- <ng-container *ngIf="tipoPersona() === 'N'"> -->
    <div class="col-sm-2">
        <label class="form-label">Fecha Inicio</label>
        <input type="date" class="form-control" [value]="fechaInicio()"
            (input)="fechaInicio.set($any($event.target).value)">
    </div>

    <div class="col-sm-2">
        <label class="form-label">Fecha Fin</label>
        <input type="date" class="form-control" [value]="fechaFin()" (input)="fechaFin.set($any($event.target).value)">
    </div>

    <div class="col-sm-2">
        <label class="form-label">Fecha Cita</label>
        <input type="date" class="form-control" [value]="fechaCita()"
            (input)="fechaCita.set($any($event.target).value)">
    </div>
    <div class="col-sm-3 col-md-3">
        <label class="form-label">Estado</label>
        <select class="form-select" (change)="changeTipoEstado($any($event.target).value)">
            <option value="0">Seleccionar</option>
            <option value="1">Pendiente</option>
            <option value="2">Atendida</option>
            <option value="3">Cancelada</option>
        </select>
    </div>


    <!-- <div class="col-md-3">
            <label class="form-label">Ap.Materno</label>
            <input type="text" class="form-control" [value]="apeMaterno()"
                (input)="apeMaterno.set($any($event.target).value.toUpperCase())">
        </div>
        <div class="col-md-3">
            <label class="form-label">Nombres</label>
            <input type="text" class="form-control" [value]="nombres()"
                (input)="nombres.set($any($event.target).value.toUpperCase())">
        </div> -->
    <!-- <div class="col-sm-7">
                <app-result-alert></app-result-alert>
            </div> -->
</div>

<div class="row mb-sm-4">
    <div class="col-sm-2 w-auto">
        <button type="button" class="btn btn-primary btn-label" (click)="searchReservas()">
            <i class="ri-search-line label-icon align-middle fs-16 me-2"></i> Enviar
        </button>
    </div>
    <div class="col-sm-2">
        <button type="button" class="btn btn-success btn-label" (click)="resetFields()">
            <i class="ri-brush-2-line label-icon align-middle fs-16 me-2"></i> Limpiar
        </button>
    </div>
</div>

<!-- GRID TABLE -->
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">RESULTADOS</h4>
            </div><!-- end card header -->

            <div class="card-body">
                <div id="table-card" class="table-card"></div>
            </div><!-- end card-body -->
        </div><!-- end card -->
    </div>
    <!-- end col -->
</div>


<app-modal #editarReserva [title]="'EDITAR RESERVA'" [size]="'modal-lg'" [bgcolor]="'bg-primary'">

    <div modal-body>
        <div class="d-flex flex-column gap-3">
            <div class="row">
                <div class="col-4">
                    <label for="name" class="form-label">Fecha Cita</label>
                    <input type="text" [value]="cita_fecha()" class="form-control" required disabled />
                </div>
                <div class="col-4">
                    <label for="name" class="form-label">Hora Cita</label>
                    <input type="text" [value]="cita_hora()" class="form-control" required disabled />
                </div>
                <div class="col-4">
                    <label for="country" class="form-label">Estado</label>
                    <select class="form-select" id="area" [ngModel]="reserva_estado()"
                        (ngModelChange)="reserva_estado.set($event)" required>
                        <option *ngFor="let item of dataEstadoReserva()" [value]="item.estado_id">
                            {{ item.estado_descri }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <label for="country" class="form-label">Servicios</label>
                    <select class="form-select" id="area" [ngModel]="servicio_id()" required disabled>
                        <option *ngFor="let servicio of dataServicios()" [value]="servicio.servicio_id">
                            {{ servicio.servicio_descri }}
                        </option>
                    </select>
                    <!-- <label for="name" class="form-label">Servicio</label>
                    <input type="text" [value]="cita_servicio()" class="form-control" required disabled /> -->
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <label for="name" class="form-label">Nombres</label>
                    <input type="text" [value]="cliente_nombre()" class="form-control" required disabled />
                </div>
                <!-- <div class="col-6">
                    <label for="name" class="form-label">Apellidos</label>
                    <input type="text" [value]="usu_apellidos()" (input)="usu_apellidos.set($any($event.target).value)"
                        class="form-control" required />
                </div> -->
            </div>
            <div class="row">
                <div class="col-4">
                    <label for="name" class="form-label">Especie</label>
                    <input type="text" [value]="mascota_especie()"
                        (input)="mascota_especie.set($any($event.target).value)" class="form-control" required
                        disabled />
                </div>
                <div class="col-4">
                    <label for="name" class="form-label">Raza</label>
                    <input type="text" [value]="mascota_raza()" (input)="mascota_raza.set($any($event.target).value)"
                        class="form-control" required disabled />
                </div>
                <div class="col-4">
                    <label for="name" class="form-label">Mascota</label>
                    <input type="text" [value]="mascota_nombre()"
                        (input)="mascota_nombre.set($any($event.target).value)" class="form-control" required />
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <label for="name" class="form-label">Telefono</label>
                    <input type="text" [value]="cliente_telefono()"
                        (input)="cliente_telefono.set($any($event.target).value)" class="form-control" required />
                </div>
                <div class="col-8">
                    <label for="name" class="form-label">Correo</label>
                    <input type="text" [value]="cliente_correo()"
                        (input)="cliente_correo.set($any($event.target).value)" class="form-control" required />
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <label for="name" class="form-label">Observaciones</label>
                    <textarea [value]="this.cita_observaciones()"
                        (input)="cita_observaciones.set($any($event.target).value)" class="form-control"> </textarea>
                </div>
            </div>

        </div>
        <!-- </form> -->
    </div>

    <div modal-footer>
        <button type="button" [ngClass]="'bg-primary'" class="btn w-sm btn-primary"
            (click)="updateReserva()">ACTUALIZAR</button>
    </div>
</app-modal>

<app-modal #extraPayment [title]="'PAGAR SERVICIO EXTRA'" [size]="''" [bgcolor]="'bg-primary'">

    <div modal-body>
        <div class="d-flex flex-column gap-3">
            <div class="row">
                <div class="col-12">
                    <label for="name" class="form-label">Nombres</label>
                    <input type="text" [value]="cliente_nombre()" class="form-control" required disabled />
                </div>
            </div>
            <div class="row">
                <!-- <div class="col-6">
                    <label for="name" class="form-label">N° Comprobante</label>
                    <input type="text" [value]="reserva_id()" class="form-control" required disabled />
                </div> -->
                <div class="col-6">
                    <label for="name" class="form-label">Mascota</label>
                    <input type="text" [value]="mascota_nombre()" class="form-control" required disabled />
                </div>
                <div class="col-6">
                    <label for="name" class="form-label">Telefono</label>
                    <input type="text" [value]="cliente_telefono()" class="form-control" required disabled />
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <label for="name" class="form-label">Correo</label>
                    <input type="text" [value]="cliente_correo()" class="form-control" required disabled />
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <label for="country" class="form-label">Servicios</label>
                    <select class="form-select" id="area" [ngModel]="servicioSeleccionado()"
                        (ngModelChange)="onServicioChange($event)" required>
                        <option value="0">
                            Seleccionar
                        </option>
                        <option *ngFor="let servicio of dataServicios()" [value]="servicio.servicio_id">
                            {{servicio.servicio_descri}} - S/.{{servicio.servicio_precio | number: '1.2-2'}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <!-- </form> -->
    </div>

    <div modal-footer>
        <button type="button" [ngClass]="'bg-primary'" class="btn w-sm btn-primary"
            (click)="payExtraService()">PAGAR</button>
    </div>
</app-modal>