<section class="is-boxed has-animations" >
    <div class="body-wrap boxed-container">
        <header class="site-header">
            <div class="container">
                <div class="site-header-inner">
                    <div class="brand header-brand"></div>
                </div>
            </div>
        </header>

        <main>
            <router-outlet></router-outlet>
        </main>

        <footer class="site-footer">
            <div class="container">
                <div class="site-footer-inner">
                    <div class="footer-copyright">
                        &copy; Municipalidad de Pueblo Libre , todos los derechos reservados
                    </div>
                </div>
            </div>
        </footer>
    </div>
</section>