<div id="carouselmain" class="carousel slide device-mockup" data-bs-ride="carousel">
  <div class="carousel-indicators">
    @for (item of carouselItems; track $index) {
      <button
        type="button"
        data-bs-target="#carouselmain"
        [attr.data-bs-slide-to]="$index"
        class="{{ $index === 0 ? 'active' : '' }}"
        [attr.aria-current]="$index === 0 ? 'true' : null"
        [attr.aria-label]="'Slide ' + ($index + 1)">
      </button>
    }
  </div>

  <div class="carousel-inner">
    @for (item of carouselItems; track item.image; let i = $index) {
      <div class="carousel-item {{ i === 0 ? 'active' : '' }}">
        <a [routerLink]="item.link">
          <img [src]="item.image" class="d-block w-100" [alt]="item.name" >
        </a>
        <!-- <img [src]="item.image" class="d-block w-100" [alt]="item.name"> -->
      </div>
    }
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselmain" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselmain" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
