<section class="hero">
    <div class="container">
        <div class="hero-inner">
            <div class="hero-copy">
                <h1 class="hero-title mt-0">VETERINARIA <br> PUEBLO LIBRE </h1>
                <p class="hero-paragraph">Bienvenido a la veterinaria de la Municipalidad de Pueblo Libre,
                    descubre las distintas categorias que brindamos para tu mascota.</p>
                <div class="hero-cta"><a class="button button-primary button-shadow" [routerLink]="['/veterinaria/reserva']">Reserva
                        Aqui
                        !</a></div>
            </div>
            <div class="hero-app">
                <app-carrousel></app-carrousel>
            </div>
        </div>
    </div>
</section>

<section class="features section">
    <div class="container">
        <div class="features-inner section-inner has-bottom-divider">
            <h2 class="section-title mt-0">Categorias</h2>
            <app-categories></app-categories>
        </div>
    </div>
</section>

<!-- <section class="features section">
    <div class="container">
        <div class="features-inner section-inner has-bottom-divider">
            <h2 class="section-title mt-0">Servicios</h2>

            <div class="row">
                <div class="col-12">
                        <app-servicios></app-servicios>
                </div>
            </div>
        </div>
    </div>
</section> -->