<section class="hero">
    <div class="container">
        <div class="hero-inner">
            <div class="hero-copy">
                <h1 class="hero-title mt-0">VETERINARIA <br> PUEBLO LIBRE </h1>
                <p class="hero-paragraph">Bienvenido a la veterinaria de la Municipalidad de Pueblo Libre,
                    descubre las distintas categorias que brindamos para tu mascota.</p>
                <div class="hero-cta"><a class="button button-primary button-shadow" [routerLink]="['/reserva']">Reserva
                        Aqui
                        !</a></div>
            </div>
            <div class="hero-app">
                <app-carrousel></app-carrousel>
            </div>
        </div>
    </div>
</section>

<section class="features section">
    <div class="container">
        <div class="features-inner section-inner has-bottom-divider">
            <h2 class="section-title mt-0">Categorias</h2>
            <app-categories></app-categories>
        </div>
    </div>
</section>

<section class="features section">
    <div class="container">
        <div class="features-inner section-inner has-bottom-divider">
            <h2 class="section-title mt-0">Servicios</h2>

            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-xxl-4 col-lg-6">
                            <div class="card card-overlay">
                                <img class="card-img img-fluid" src="assets/images/small/img-12.jpg" alt="Card image">
                                <div class="card-img-overlay p-0 d-flex flex-column">
                                    <div class="card-header bg-transparent">
                                        <h4 class="card-title text-white mb-0">Consulta General</h4>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text text-white mb-2">
                                            - Examen físico completo del paciente
                                            - Evaluente de signos vitales
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div><!-- end col -->
                    </div><!-- end row -->

                </div><!-- end col -->
            </div><!-- end row -->


            <!-- <app-categories></app-categories> -->
        </div>
    </div>
</section>