<section class="auth-bg-cover min-vh-100 p-4 p-lg-5 d-flex align-items-center justify-content-center">
    <div class="bg-overlay"></div>
    <div class="container-fluid px-0">
        <div class="row g-0 justify-content-center">
            <div class="col-xl-4 col-lg-8">
                <div class="text-center mb-5">
                    <img src="assets/images/logo-mpl-white.png" alt="" height="100" />
                </div>
                <div class="card mb-0">
                    <div class="card-body p-4 p-sm-4 m-lg-3 text-center">
                        <div class="mb-sm-5 pb-sm-0 pb-5">
                            <img src="assets/images/garra.png" alt="" height="110" class="move-animation">
                        </div>
                        <div class="mb-3">
                            <h1>Pago exitoso !</h1>
                        </div>
                        <div>
                            <div class="row justify-content-center">
                                <div class="col-lg-10">
                                    <div class="countdownlist" style="flex-wrap: wrap; justify-content: center;">
                                        <p><strong>Compra Nº:</strong> {{ paymentData.order.purchaseNumber }}</p>
                                        <!-- <p><strong>Fecha:</strong> {{ paymentData.order.transactionDate }}</p> -->
                                        <p><strong>Fecha:</strong> {{ formatDate(paymentData.order.transactionDate) }}</p>
                                        <p><strong>Monto:</strong> {{ paymentData.order.amount }} {{
                                            paymentData.order.currency }}</p>
                                        <p><strong>Tarjeta:</strong> {{ paymentData.dataMap.CARD }}</p>
                                        <p><strong>Marca:</strong> {{ paymentData.dataMap.BRAND }}</p>
                                        <!-- <p><strong>Estado:</strong> {{ paymentData.dataMap.STATUS }}</p> -->
                                        <!-- Hola 'nombre' tu cita para el 'DD/MM/AAAA' a las 'HH:MM' ya está reservada -->
                                    </div>
                                </div>
                            </div>

                            <div class="mt-5">
                                <h4>Gracias por agendar una cita</h4>
                                <p class="text-muted">Ya registramos tu cita correctamente, recuerda asistir puntal !
                                </p>
                            </div>

                            <!-- <form action="#!">
                                <div class="countdown-input-subscribe mx-auto my-4">
                                    <input type="email" class="form-control shadow"
                                        placeholder="Enter your email address" required /> -->
                            <button class="btn btn-primary" type="button" id="button-email"
                                [routerLink]="'/veterinaria/reserva'">Volver<i
                                    class="ri-arrow-go-back-line align-bottom ms-2"></i></button>
                            <!-- </div>
                            </form> -->
                        </div>
                    </div><!-- end card body -->
                </div>
                <!-- end card -->
                <div class="text-white text-center mt-5">
                    <p class="mb-0">&copy;
                        <script>document.write(new Date().getFullYear())</script> Municipalidad de Pueblo Libre
                    </p>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end conatiner-->
</section>