<section class="hero">
    <div class="container">
        <div class="d-flex">
            <h3 class="text-white">TERMINOS Y CONDICIONES</h3>
        </div>
    </div>
</section>

<section class="terminos-container mt-4">
    <div class="container">
        <div class="content-text">
            <span class="text-white"> 1. Agendamiento y Asistencia a Citas</span>
            <ul class="gap-3">
                <li>Es obligatorio llegar con al menos 10 minutos de anticipación a la hora programada de su cita.</li>
                <li>Existe una tolerancia máxima de 5 minutos luego de la hora pactada. Pasado este tiempo, la cita se
                    considerará cancelada y deberá reprogramarse según disponibilidad.</li>
                <li>En caso de no asistir en la fecha y hora programada, la cita se pierde automáticamente y deberá
                    solicitarse una nueva. No se garantiza la disponibilidad inmediata de una nueva fecha.</li>
            </ul>
        </div>
        <div class="content-text">
            <span class="text-white"> 2. Requisitos Previos</span>
            <ul class="gap-3">
                <li>Es obligatorio llegar con al menos 10 minutos de anticipación a la hora programada de su cita.</li>
                <li>Antes de su cita, es obligatorio empadronar a su mascota en nuestro sistema. Puede hacerlo a través del siguiente enlace:
                    👉 <a href="https://portal.muniplibre.gob.pe/empadronamiento-mascotas/m-add/" target="_blank">Empadronar Mascota</a></li>
                <li>Toda atención médica o consulta se realiza únicamente si el propietario presenta: <br>
                    - DNI del propietario <br>
                    - DNI de la mascota
                </li>
            </ul>
        </div>
        <div class="content-text">
            <span class="text-white"> 3. Responsabiladad del Propietario</span>
            <ul class="gap-3">
                <li>Es responsabilidad del propietario proporcionar información verídica y actualizada sobre la salud y antecedentes de la mascota.</li>
                <li>El propietario debe seguir las indicaciones médicas y recomendaciones entregadas por el personal veterinario.</li>
            </ul>
        </div>
    </div>
</section>