<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Laurel Template</title>
    <link href="https://fonts.googleapis.com/css?family=Heebo:400,500,700|Playfair+Display:700" rel="stylesheet">
</head>

<body class="is-boxed has-animations">
    <div class="body-wrap boxed-container">
        <header class="site-header">
            <div class="container">
                <div class="site-header-inner">
                    <div class="brand header-brand">
                    </div>
                </div>
            </div>
        </header>

        <main>
            <section class="hero">
                <div class="container">
                    <div class="hero-inner">
                        <div class="hero-copy">
                            <h1 class="hero-title mt-0">VETERINARIA <br> PUEBLO LIBRE </h1>
                            <p class="hero-paragraph">Bienvenido a la veterinaria de la Municipalidad de Pueblo Libre,
                                descubre las distintas opciones que tenemos para ti.</p>
                            <div class="hero-cta"><a class="button button-primary button-shadow" href="#">Descubre mas
                                    !</a></div>
                        </div>
                        <div class="hero-app">
                            <app-carrousel></app-carrousel>
                        </div>
                    </div>
                </div>
            </section>

            <section class="features section">
                <div class="container">
                    <div class="features-inner section-inner has-bottom-divider">
                        <h2 class="section-title mt-0">Categorias</h2>
                        <app-categories></app-categories>
                    </div>
                </div>
            </section>
        </main>

        <footer class="site-footer">
            <div class="container">
                <div class="site-footer-inner">
                    <div class="footer-copyright">&copy; Municipalidad de Pueblo Libre , todos los derechos reservados</div>
                </div>
            </div>
        </footer>
    </div>

    <script src="dist/js/main.min.js"></script>
</body>

</html>