<div class="app-menu navbar-menu">
    <div class="navbar-brand-box">
        <a routerLink="/" class="logo logo-dark">
            <span class="logo-sm mt-5">
                <img src="/src/assets/images/logo-sm.png" alt="" height="60" class="imgLogoSmp" />
            </span>
            <span class="logo-lg mt-5">
                <img style="height: 120px;" src="../../../assets/images/logo-short.png" alt="" height="60" />
            </span>
        </a>
        <a routerLink="/" class="logo logo-light">
            <span class="logo-sm">
                <img src="../../../assets/images/logo-mpl-black.png" alt="" height="26" />
            </span>
            <span class="logo-lg">
                <img src="../../../assets/images/logo-mpl-black.png" alt="" height="26" />
            </span>
        </a>
        <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover"
            id="vertical-hover">
            <i class="ri-record-circle-line"></i>
        </button>
    </div>
    <div id="scrollbar">
        <div class="container-fluid">
    <div id="two-column-menu"></div>
    <ul class="navbar-nav" id="navbar-nav">
        <li class="menu-title"><span data-key="t-menu">Menu</span></li>
    
        <!-- <li class="nav-item">
        <a class="nav-link menu-link" href="#cajaChica" data-bs-toggle="collapse" role="button" aria-expanded="false"
            aria-controls="cajaChica">
            <i class="bi bi-journal-medical"></i> <span data-key="t-pages">Caja Chica</span>
        </a>
        <div class="collapse menu-dropdown" id="cajaChica">
            <ul class="nav nav-sm flex-column">
            <li class="nav-item">
                <a href="" class="nav-link" data-key="t-certificado"> Documentos </a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link" data-key="t-starter"> Subir Documento
                </a>
            </li>
            </ul>
        </div>
        </li> -->
        
        <li class="nav-item">
            <a class="nav-link menu-link">
              <i class="bi bi-hdd-stack"></i>
              <span data-key="t-coactivo">Documentos</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link menu-link">
              <i class="bi bi-hdd-stack"></i>
              <span data-key="t-coactivo">Subir Documento</span>
            </a>
        </li>
    </ul>
  </div>
    </div>
    <div class="sidebar-background"></div>
</div>