<!-- <div class="row mb-sm-4 p-5">
    <div class="col-md-3">
        <button class="btn btn-primary" (click)="openBloqDate()"> BLOQUEAR FECHA </button>
    </div>
    <div class="col-md-3">
        <button class="btn btn-primary" (click)="openBloqHour()"> BLOQUEAR HORA </button>
    </div>
    <div class="col-md-3">
        <button class="btn btn-primary" (click)="openSetCampania()"> ASIGNAR CAMPAÑA </button>
    </div>
</div>


<app-modal #bloqDate [title]="'BLOQUEAR FECHA'" [size]="''" [bgcolor]="'bg-primary'">

    <div modal-body>
        <div class="d-flex flex-column gap-3">
            <div class="col-12">
                <label  class="form-label">Selecciona una fecha</label>
                <input type="date" class="form-control" required />
            </div>
            <div class="col-12">
                <label  class="form-label">Observacion</label>
                <textarea (input)="bfecha_motivo.set($any($event.target).value)" class="form-control"> </textarea>
            </div>
        </div>
    </div>

    <div modal-footer>
        <button type="button" [ngClass]="'bg-primary'" class="btn w-sm btn-primary">GUARDAR</button>
    </div>
</app-modal>

<app-modal #bloqHour [title]="'BLOQUEAR HORARIO'" [size]="'modal-lg'" [bgcolor]="'bg-primary'">

    <div modal-body>
        <div class="d-flex flex-column gap-3">
            <div class="row">
                <div class="col-4">
                    <label  class="form-label">Selecciona una fecha</label>
                    <input type="date" class="form-control" required />
                </div>
                <div class="col-4">
                    <label  class="form-label">Selecciona hora inicio</label>
                    <input type="time" class="form-control" required />
                </div>
                <div class="col-4">
                    <label  class="form-label">Selecciona hora fin</label>
                    <input type="time" class="form-control" required />
                </div>
            </div>
            <div class="col-12">
                <label  class="form-label">Observacion</label>
                <textarea (input)="bfecha_motivo.set($any($event.target).value)" class="form-control"> </textarea>
            </div>
        </div>
    </div>

    <div modal-footer>
        <button type="button" [ngClass]="'bg-primary'" class="btn w-sm btn-primary">GUARDAR</button>
    </div>
</app-modal>

<app-modal #setCampania [title]="'ASIGNAR CAMPAÑA'" [size]="''" [bgcolor]="'bg-primary'">

    <div modal-body>
        <div class="d-flex flex-column gap-3">
            <div class="col-12">
                <label for="country" class="form-label">Servicios</label>
                <select class="form-select" id="area" required>
                    <option *ngFor="let servicio of dataServicios()" [value]="servicio.servicio_id">
                        {{ servicio.servicio_descri }}
                    </option>
                </select>
            </div>
            <div class="row">
                <div class="col-6">
                    <label  class="form-label">Selecciona una fecha</label>
                    <input type="date" class="form-control" required />
                </div>
                <div class="col-6">
                    <label  class="form-label">Selecciona una hora</label>
                    <input type="time" class="form-control" required />
                </div>
            </div>
        </div>
    </div>

    <div modal-footer>
        <button type="button" [ngClass]="'bg-primary'" class="btn w-sm btn-primary">GUARDAR</button>
    </div>
</app-modal> -->

<div class="row mb-sm-3">
    <div class="col-2">
        <label for="fecha" class="form-label">Selecciona una fecha</label>
        <mat-form-field appearance="fill" class="w-100">
            <mat-label>Selecciona una fecha</mat-label>
            <input matInput [matDatepicker]="picker" [matDatepickerFilter]="filterDates" [value]="selectedDate()"
                (dateChange)="selectedDate.set($event.value)" />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>
    <div class="col-2">
        <label class="form-label">Selecciona hora inicio</label>
        <mat-form-field appearance="fill" class="w-100">
            <mat-label>Hora disponible</mat-label>
            <mat-select [value]="bloq_horaini()" (selectionChange)="bloq_horaini.set($event.value)">
                <mat-option *ngFor="let time of dataHorariosDisponibles()" [value]="time">
                    {{ time }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="col-2">
        <label class="form-label">Selecciona hora fin</label>
        <mat-form-field appearance="fill" class="w-100">
            <mat-label>Hora disponible</mat-label>
            <mat-select [value]="bloq_horafin()" (selectionChange)="bloq_horafin.set($event.value)">
                <mat-option *ngFor="let time of dataHorariosDisponibles()" [value]="time">
                    {{ time }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="col-6">
        <label class="form-label">Motivo</label>
        <mat-form-field appearance="fill" class="w-100">
            <!-- <mat-label>Motivo</mat-label> -->
            <input matInput [value]="bloq_motivo()" (input)="bloq_motivo.set($any($event.target).value)">
        </mat-form-field>
    </div>
</div>

<div class="row mb-sm-4">
    <div class="col-sm-2 w-auto">
        <button type="button" class="btn btn-primary btn-label" (click)="fun_bloquearHorario()">
            <i class="ri-search-line label-icon align-middle fs-16 me-2"></i> Enviar
        </button>
    </div>
    <!-- <div class="col-sm-2">
        <button type="button" class="btn btn-success btn-label" (click)="resetFields()">
            <i class="ri-brush-2-line label-icon align-middle fs-16 me-2"></i> Limpiar
        </button>
    </div> -->
</div>